# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/

# Jupyter
.ipynb_checkpoints/

# Claude Code
.claude/settings.local.json

# OS / editor
.DS_Store
.idea/
.vscode/

# folder
notebook/
